<div class="fondoRol">
    <div class="container p-4 ">
    <div class="row">

        {{#each ficha}}

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{alias}}</h3>
                    <p class="m-2">Nivel {{nivel}}</p>
                    <p>{{timeago created_at}}</p>
                    <a href="/ficha/delete/{{id}}" class="btn btn-danger"> Borrar Ficha</a>
                    <a href="/ficha/edit/{{id}}" class="btn btn-secondary">Editar</a>
                </div>
            </div>
        </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay fichas guardadas, <a href="/ficha/add">crealo</a></p>
                </div>
            </div>
        {{/each}}

    </div>
</div>
</div>